In [ ]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [ ]:
# 10.1 Identifying Missing Data
# We will use the orders table from Super Store for these tasks
orders = pd.read_csv('./datasets/orders.csv')


# A. Start with some exploratory analysis methods to inspect the data

In [ ]:
# B. Which column has the most missing data? Sort the columns by sum of null values

In [ ]:
# C. Looks like postal_code is our biggest problem, along with region_id
# Use a combination of filtering, isnull, and sum to count how many rows are missing both columns

In [ ]:
# D. Let's drop the region_id nulls from the dataframe before proceeding

In [ ]:
# E. It's the dream scenario! The IT team confirms all missing postal_code values should be 10001.0

In [ ]:
# 10.2 Cleaning Our Data
# A. Write a profit_margin function that accepts a row of data, which is a dictionary
#    It should return the result of dividing the profit column by the sales column (i.e. profit/sales)

In [ ]:
# B. Create a new column in the orders dataframe called 'profit_margin' by applying the profit margin function row-by-row

In [ ]:
# C. Use the same process to create a new column called margin_category
# If the profit_margin is less than 0, the margin_category should be "unprofitable"
# If the profit_margin is 0, the margin_category should be "break even"
# If the profit_margin is above 0, the margin_category should "profitable"

In [ ]:
# D. How many of our orders were unprofitable?

In [ ]:
# 10.3 GroupBy Insights
# Segment the following data and explore aggregate values to answer the following questions

In [ ]:
# A. Which discount results in the highest mean order quantity?

In [ ]:
# B. Which product has the highest mean price discount applied?

In [ ]:
# 10.4 Joining DataFrames
# The below example joins our first two dataframes by their shared column, Symbol
openprice = pd.DataFrame({'Symbol': ['AAPL', 'DHR', 'DAL', 'AMZN'], 'OpenPrice': [217.51, 96.54, 51.45, 1703.34]})
wkhigh = pd.DataFrame({'Symbol': ['DAL', 'AMZN', 'AAPL', 'DHR'], '52wkHigh': [60.79, 2050.49, 233.47, 110.11]})
combined = pd.merge(openprice, wkhigh, how="left", left_on='Symbol', right_on='Symbol')
combined.head()

In [ ]:
# A. Join the stockname dataframe to our combined result and print the result
stockname = pd.DataFrame({'Symbol': ['AMZN', 'DHR', 'DAL', 'AAPL'], 'Name': ['Amazon', 'Danaher', 'Delta Airlines', 'Apple']})

In [ ]:
# B. Use the following tables from Super Store
products = pd.read_csv('./datasets/products.csv')
orders = pd.read_csv('./datasets/orders.csv')
returns = pd.read_csv('./datasets/returns.csv')
regions = pd.read_csv('./datasets/regions.csv')

In [ ]:
# i. We want to join the products and orders dataframes. 
#    Explore both dataframes to identify the common column between them
#    Use a left join to combine the tables in a dataframe named orders_with_products

In [ ]:
# ii. Left join the orders_with_products and returns dataframes

In [ ]:
# iii. Finally, add the region data to our combined dataframe

In [ ]:
# iv. Let's use this combined dataframe to determine the salesperson generating the most profit